<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-4.3.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop-4.3.xsd

">

    <!--
    -->
    <bean id="user" class="com.nice.po.User"></bean>
    <bean id="myUserDao" class="com.nice.daoImpl.UserDaoImpl"></bean>

    <!--<bean id="myService" class="com.nice.serviceImpl.UserServiceImpl">-->
    <!--&lt;!&ndash;将userDao注入到UserServiceImpl的属性userDao上&ndash;&gt;-->
    <!--<constructor-arg index="0" ref="myUserDao"/>-->
    <!--</bean>-->

    <!--使用setter方法注入 -->
    <bean id="myService" class="com.nice.serviceImpl.UserServiceImpl">
        <property name="userDao" ref="myUserDao"/>
    </bean>

    <!--指定需要扫描的包，使得注解生效-->
    <context:component-scan base-package="com.*"/>

    <!--启动基于注解的AspectJ支持-->
    <aop:aspectj-autoproxy/>


    <bean id="myAspect" class="com.nice.aop.MyAspect"/>
    <!--配置aop-->
    <!--<aop:config>-->
        <!--&lt;!&ndash;配置切面&ndash;&gt;-->
        <!--<aop:aspect ref="myAspect">-->
            <!--&lt;!&ndash;配置通知和切入点&ndash;&gt;-->
            <!--<aop:pointcut id="myPointCut"-->
                          <!--expression="execution(* com.nice.serviceImpl.StuServiceImpl.save())"/>-->
            <!--&lt;!&ndash;前置通知&ndash;&gt;-->
            <!--<aop:before method="before"-->
                        <!--pointcut-ref="myPointCut"/>-->
            <!--&lt;!&ndash;后置通知&ndash;&gt;-->
            <!--<aop:after method="after"-->
                       <!--pointcut-ref="myPointCut"/>-->
            <!--&lt;!&ndash;后置返回通知&ndash;&gt;-->
            <!--<aop:after-returning method="afterReturn"-->
                                 <!--pointcut-ref="myPointCut"/>-->
            <!--&lt;!&ndash;环绕通知&ndash;&gt;-->
            <!--<aop:around method="around"-->
                        <!--pointcut-ref="myPointCut"/>-->
            <!--&lt;!&ndash;配置通知和切入点&ndash;&gt;-->
            <!--<aop:after method="log"-->
                       <!--pointcut-ref="myPointCut"/>-->
            <!--&lt;!&ndash;异常通知&ndash;&gt;-->
            <!--<aop:after-throwing method="except"-->
                                <!--pointcut-ref="myPointCut" throwing="throwable"/>-->
        <!--</aop:aspect>-->
    <!--</aop:config>-->


</beans>